* {
  font-family: 'Montserrat';
}

.logement {
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  margin-top: 32px;
  background: #F7F7F7;
  border-radius: 25px;
}

.carte-logement {
  position: relative;
  height: 340px;
  width: 340px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  border-radius: 10px;
  overflow: hidden;
  margin: 15px;
}

.carte-logement h2 {
  position: absolute;
  left: 5.88%;
  right: 5.88%;
  top: 78.82%;
  bottom: 5.88%;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 142.6%;
  /* or 26px */
  display: flex;
  align-items: flex-end;

  color: #FFFFFF;
}

.carte-logement img {
  display: block;
  height: 100%;
  width: 100%;
}

.carte-logement title {
  left: 5.88%;
  right: 5.88%;
  top: 78.82%;
  bottom: 5.88%;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 142.6%;
  /* or 26px */
  display: flex;
  align-items: flex-start;

  color: #FFFFFF;
}

main {
  margin: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

header {
  margin-inline: 5%;
  margin-block: 1%;
  height: 68px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  left: 100px;
  top: 40px;
}

header .LOGO {
  position: absolute;
  color: #FF6060;
  font-weight: 520;
  font-size: 48px;
  height: 68px;
  margin: 0px;
  width: 210px;
  left: 5.5%;
  top: 2.5%;
  justify-content: left;
  align-items: flex-end;
}

header nav {
  position: absolute;
  left: 71.5%;
  right: 0%;
  top: 25%;
  bottom: 25%;
  height: 34px;
  width: 25%;
  top: 17px;
}

nav ul {
  display: flex;
  justify-content: space-around;
}

nav li {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 142.6%;
  /* or 34px */
  display: flex;
  align-items: flex-end;
  text-align: right;
  color: #FF6060;
}

nav li:hover {
  text-decoration-line: underline;
}

.Accueil {
  left: 75.08%;
  right: 13.95%;
  top: 25%;
  bottom: 25%;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 142.6%;
  /* or 34px */
  display: flex;
  align-items: flex-end;
  text-align: right;
  color: #FF6060;
}

.A-propos {
  left: 90.65%;
  right: 0%;
  top: 25%;
  bottom: 25%;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 142.6%;
  /* or 34px */
  display: flex;
  align-items: flex-end;
  text-align: right;
  color: #FF6060;
}


.Section1 {
  height: 223px;
  margin-inline: 5%;
  margin-bottom: 10px;
  top: 171px;
  border-radius: 25px;
  background: linear-gradient(#F7F7F7, (#000000, 0.5));
}

.Section1 img {
  height: 223px;
  width: 100%;
  border-radius: 25px;
  mix-blend-mode: darken;
  opacity: 0.7;
  overflow: hidden;
  display: block;
}

h1 {
  position: absolute;
  top: 25%;
  bottom: 25%;
  left: 20.5%;
  width: 60%;
  height: 70px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  opacity: 1;
  color: #FFFFFF;
}

footer {
  position: relative;
  width: 100%;
  height: 209px;
  margin-left: 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  background: #000000;
  color: #FFFFFF;
}

footer .LOGO {
  position: absolute;
  top: 31%;
}

footer p {
  position: absolute;
  left: 32.15%;
  right: 32.22%;
  top: 64%;
  bottom: 13.88%;
  height: 46px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 142.6%;
  /* or 34px */
}

.Fiche body {
  position: absolute;
  width: 1240px;
  left: 100px;
  top: 128px;
}

.Fiche .Section1 img {
  width: 100%;
  height: 415px;
  display: flex;
  justify-content: center;
}

.Fiche .carrousel {
  position: relative;
  width: 100%;
  height: 415px;
  border-radius: 15px;
  overflow: hidden;
}

.carrousel img {
  max-width: 100%;
  object-fit: cover;
}

.carrousel .main-picture {
  display: block;
  width: 100%;
  height: 100%;
}

.prev,
.next {
  position: absolute;
  top: 37.5%;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100px;
  height: 120px;
  cursor: pointer;
  align-items: center;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.image-number{
  position: absolute;
left: 48.95%;
right: 49.11%;
top: 86.19%;
bottom: 6.01%;
height: 32px;
width: 32px;
border-radius: 50%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 142.6%;
/* or 26px */

display: flex;
align-items: flex-end;
justify-content: center;
text-align: center;
background-color: rgba(0, 0, 0, 0.2);
color: #FFFFFF;
}

.Fiche .Titre {
  position: absolute;
  width: 60%;
  height: 80px;
  top: 573px;
  left:5%;
  justify-content: flex-start;
  text-align: left;
}

.Fiche .Titre h1 {
  position: absolute;
  left: 0;
  right: 48.96%;
  top: 55.96%;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 142.6%;
  /* or 51px */
  display: flex;
  align-items: flex-end;
  color: #FF6060;
}

.Fiche .Titre p {
  position: absolute;
  left: 5%;
  top: 62%;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 142.6%;
  /* identical to box height, or 26px */
  display: flex;
  align-items: flex-end;
  color: #FF6060;
}

/*.Fiche .Cercle-Hôte{
  position: absolute;
  border-radius: 32px;
  left: 1273px;
  top: 567px;
  background: #C4C4C4;
}*/
.Fiche .Hôte h3 {
  position: absolute;
  width: 93px;
  height: 52px;
  left: 1100px;
  top: 580px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 142.6%;
  /* or 26px */
  display: flex;
  align-items: center;
  text-align: right;
  color: #FF6060;
}

.Fiche .Hôte img {
  position: absolute;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  left: 1210px;
  top: 590px;
}

.Fiche .Note {
  position: absolute;
  height: 36px;
  width: 196px;
  left: 1144px;
  top: 652px;
  color: #FF6060;
}

.Fiche .Contenu {
  position: relative;
  width: 1240px;
  height: 101px;
  left: 100px;
  top: 670px;

}

.Fiche .Mots-clés {
  position: absolute;
  height: 25px;
  width: 100%;
  left: 100px;
  top: 670px;

}

.Fiche  .Mots-clés .Rectangle3 {
  height: 25px;
  width: 115px;
  background: #FF6060;
  color: #FFFFFF;
  border-radius: 10px;
}

.Fiche  .Dropdown {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-inline: 5%;
  left: 0;
}


.Dropdown .acc-header {
  position: relative;
  display: flex;
  height: 47px;
  width: 100%;
  margin-inline: 0;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 24px;
  background: #FF6060;
  color: #FFFFFF;
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
  padding-left: 18px;
  cursor: pointer;
}

.Dropdown img {
  padding-right: 18px;
}

.Dropdown p {
  margin-block: 0;
  width:100%;
  height: 184px;
  padding-left: 18px;
  padding-top: 38px;
  border-radius: 5px;
  line-height: 34px;
  font-weight: 400;
  font-size: 24px;
  background: #F7F7F7;
  color: #FF6060;

}

.Fiche .Dropdown {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 45%;
}

#page-erreur{
  width: 100%;
  height: auto;
}

#page-erreur h1{
  font-family:'Montserrat';
  font-weight: 700;
  font-size: 288px;
}