* {
  font-family: 'Montserrat';
}

.logement {
  margin-inline: 5%;
  margin-top: 32px;
  width: 100%;
  background: #F7F7F7;
  border-radius: 25px;
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.carte-logement {
  position: relative;
  height: 340px;
  width: 340px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  border-radius: 10px;
  overflow: hidden;
  margin: 15px;
}

.carte-logement h2 {
  position: absolute;
  left: 5.88%;
  right: 5.88%;
  top: 78.82%;
  bottom: 5.88%;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 142.6%;
  /* or 26px */
  display: flex;
  align-items: flex-end;

  color: #FFFFFF;
}

.carte-logement img {
  display: block;
  height: 100%;
  width: 100%;
}

.carte-logement title {
  left: 5.88%;
  right: 5.88%;
  top: 78.82%;
  bottom: 5.88%;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 142.6%;
  /* or 26px */
  display: flex;
  align-items: flex-start;

  color: #FFFFFF;
}

main {
  margin: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

header {
  margin-inline: 5%;
  width: 100%;
  margin-block: 1%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}




nav ul {
  display: flex;
  justify-content: space-around;
}

nav li {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 142.6%;
  /* or 34px */
  display: flex;
  align-items: flex-end;
  text-align: right;
  color: #FF6060;
}

nav li:hover {
  text-decoration-line: underline;
}

nav li {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 142.6%;
  /* or 34px */
  color: #FF6060;
  margin-left:10px;
}

nav a{
  text-decoration: none;
  color:inherit;
}
nav a:hover{
  text-decoration: underline;
}

.Section1 {
  position: relative;
  width:100%;
  height: 223px;
  margin-inline: 5%;
  margin-bottom: 10px;
  border-radius: 25px;
  overflow: hidden;
}

.Section1 img {
  height: 223px;
  width: 100%;
  border-radius: 25px;
  mix-blend-mode: darken;
  opacity: 0.7;
  overflow: hidden;
  display: block;
}

.Section1 h1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 223px;
  margin: 0;
  padding-top: 7%;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  color: #FFFFFF;
}

footer {
  position: relative;
  width: 100%;
  height: 209px;
  margin-left: 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  background: #000000;
  color: #FFFFFF;
}

footer .LOGO {
  position: absolute;
  top: 31%;
}

footer p {
  position: absolute;
  left: 32.15%;
  right: 32.22%;
  top: 64%;
  bottom: 13.88%;
  height: 46px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 142.6%;
  /* or 34px */
}


.Fiche .Section1 img {
  width: 100%;
  height: 415px;
  display: flex;
  justify-content: center;
}

.Fiche .carrousel {
  position: relative;
  width: 100%;
  height: 415px;
  border-radius: 15px;
  overflow: hidden;
}

.carrousel img {
  max-width: 100%;
  object-fit: cover;
}

.carrousel .main-picture {
  display: block;
  width: 100%;
  height: 100%;
}

.prev,
.next {
  position: absolute;
  top: 37.5%;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100px;
  height: 120px;
  cursor: pointer;
  align-items: center;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.image-number {
  position: absolute;
  left: 48.95%;
  right: 49.11%;
  top: 86.19%;
  bottom: 6.01%;
  height: 32px;
  width: 32px;
  border-radius: 50%;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 142.6%;
  /* or 26px */

  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  color: #FFFFFF;
}

.Fiche .heading {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Fiche .Titre {
  width: 60%;
  height: 80px;
}

.Fiche .Titre h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 142.6%;
  color: #FF6060;
}

.Fiche .Titre p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 142.6%;
  /* identical to box height, or 26px */
  color: #FF6060;
}

.Fiche .Hôte {
  display: flex;
  flex-direction: column;
  justify-content: right;
}

.Fiche .Hôte .info-hote {
  display: flex;
  flex-wrap: wrap;
}

.Fiche .Hôte h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 142.6%;
  color: #FF6060;
}

.Fiche .Hôte img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.Fiche .Note {
  position: absolute;
  height: 36px;
  width: 196px;
  left: 1144px;
  top: 652px;
  color: #FF6060;
}

.Fiche .Contenu {
  position: relative;
  width: 1240px;
  height: 101px;
  left: 100px;
  top: 670px;

}

.Fiche .mots-cles {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.Fiche .mots-cles .tag {
  padding: 3px 10px;
  background: #FF6060;
  color: #FFFFFF;
  border-radius: 10px;
}

.Fiche .Dropdown {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 128px;
  margin-bottom: 10px;
}

.Fiche .accordeon{
  width:45%;
}


.Dropdown .acc-header {
  position: relative;
  display: flex;
  height: 47px;
  width: 100%;
  margin-inline: 0;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 24px;
  background: #FF6060;
  color: #FFFFFF;
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
  padding-left: 18px;
  cursor: pointer;
}

.Dropdown img {
  padding-right: 18px;
}

.Dropdown p {
  margin-block: 0;
  width: 100%;
  height: 184px;
  padding-left: 18px;
  padding-top: 38px;
  border-radius: 5px;
  line-height: 34px;
  font-weight: 400;
  font-size: 24px;
  background: #F7F7F7;
  color: #FF6060;

}

#page-erreur {
  width: 100%;
}

#page-erreur h1 {
  font-family: 'Montserrat';
  font-weight: 700;
  margin:0;
  font-size: 288px;
}


@media(max-width:662px){
  nav li{
    font-size:18px;
  }
}